<!DOCTYPE html>
<html>
<head>
</head>

<body>
<style>
table, th {
  border: 1px solid black;
  padding: 10px;
}

td {
  border: 1px solid black;
  padding: 10px;
}
</style>



<h2>Contacts Results</h2>

<table>
  <tr>
    <th> ID</th>
    <th> First Name</th>
    <th> Last Name</th>
    <th> City</th>
  </tr>

<% results.forEach(function(r) { %>
	<tr>
    <td><%= r.external_id %></td>
    <td><%= r.firstname %></td>
    <td><%= r.lastname %></td>
    <td><%= r.city %></td>
  	</tr>
<% }); %>

</table>
<br>
<form id= "back" action="/home.html" method="get">
	<input type="submit" value="Go Back">




</body>
</html>
