<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>

<div class="topnav">
  <a href="searchUser.html">Search for a Contact</a>
  <a class="active" href="/db">View All Contacts</a>
  <a href="newUser.html">Create New Contact</a>
</div>

<h2>Contacts Results</h2>

<table>
  <tr>
    <th> ID</th>
    <th> First Name</th>
    <th> Last Name</th>
    <th> City</th>
  </tr>

<% results.forEach(function(r) { %>
	<tr>
    <td><%= r.external_id %></td>
    <td><%= r.firstname %></td>
    <td><%= r.lastname %></td>
    <td><%= r.city %></td>
  	</tr>
<% }); %>

</table>
<br>


</body>
</html>
