<!DOCTYPE html>
<html>
<head>
	<title>Insert</title>
</head>
<body>

	<h1>Contact Found</h1>
	<p>New contact: ID - <%= external_id%>, First Name - <%= firstname%>, Last Name - <%= lastname%>, City - <%= city%></p><br>

	<form id= "back" action="/searchUser.html" method="get">
		<input type="submit" value="Go Back">
	</form>
</body>
</html>