<!DOCTYPE html>
<html>
<head>
	<title>Insert</title>
</head>
<body>
	<h1>Contact Inserted</h1>
	<p>New contact: ID - <%= external_id%>, First Name - <%= firstname%>, Last Name - <%= lastname%>, City - <%= city%></p><br>
</body>
</html>