<!DOCTYPE html>
<html>
<head>
	<title>Search Results</title>
</head>
<body>
	<h1>Contact Inserted</h1>
	<p>Contact Details: ID - <%= externalID%>, First Name - <%= firstName%>, Last Name - <%= lastName%>, City - <%= city%></p><br>
</body>
</html>